class {
  onCreate() {
    this.state = {
      colors: [ 'red', 'red', 'green', 'blue' ]
    }
  }
}
<ul>
  <for|color, index| of=state.colors>
    <li key=index>${index}: ${color}</li>
  </for>
</ul>
